<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script>
        function refreshPage(){
            window.location.reload();
        }
    </script>
    <title>Chuck Norris Joke Generator</title>
</head>
<body>
<div class="container-fluid">
    <div class="container p-3 my-3 bg-primary text-white text-center col-10">
        <h3>Chuck Norris Jokes Generator</h3>
        <p>I think that he is not happy with that...</p>
    </div>
    <div class="container p-3 my-3 bg-dark text-white text-center col-10">
        <h4>Chuck Norris says:</h4>
        <div class="alert alert-success">
            <strong><p th:text="${joke}"></p></strong>
        </div>
        <button class="btn btn-warning" onClick="refreshPage()">Generate New Joke</button>
    </div>
</div>
</body>
</html>